.timelineContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.timeline {
    width: 100%;
    height: 5px;
    background: #ddd;
    cursor: pointer;
    position: relative;
    border-radius: 60px;
  }
  
  .progress {
    height: 100%;
    background: #007bff;
    border-radius: 60px;
    transition: width 0.2s ease-in-out;
  }
